﻿@model MVCWizard.Models.SaleItem

STEP 3

@using (Ajax.BeginForm("Finish", "Home", new AjaxOptions { UpdateTargetId = "divWizard" }, new { id = "formWizard" }))
{
    @Html.AntiForgeryToken()

    @Html.LabelFor(m => m.Name) @Html.TextBoxFor(m => m.Name)
    <br/>
    @Html.LabelFor(m => m.Step1) @Html.TextBoxFor(m => m.Step1)
    <br/>
    @Html.LabelFor(m => m.Step2) @Html.TextBoxFor(m => m.Step2)
    <br/>
    @Html.LabelFor(m => m.Step3) @Html.TextBoxFor(m => m.Step3)
    <br/>

    <input type="submit" value="Step1" class="btn btn-default" onclick="$('#formWizard').attr('action', '@Url.Action("Index","Home")');" />
    <input type="submit" value="Step2" class="btn btn-default" onclick="$('#formWizard').attr('action', '@Url.Action("Step2","Home")');" />
    <input type="submit" value="Finish" class="btn btn-default" onclick="$('#formWizard').attr('action', '@Url.Action("Contact","Home")');"/>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
